// Primary Color
$primaryColor: #007bff;

// Secondary Colors
$deep-space: #212121;
$electric-green: #34c759;
$warm-orange: #ff9900;

// Accent Colors
$bright-coral: #ffc67d;
$soft-mint: #b2fffc;

// Background Colors
$backgroundColor: #f7f7f7;
$dark-gray: #333333;
$fontFamily:poppins;

body{
    background-color: $backgroundColor  !important;
    font-family: $fontFamily;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: white !important;
}

.contact-button {
    background-color: $primaryColor;
    border-radius: 7px;
    color: white;
}
.contact-button:hover{
    color: white;
}
.nav-link:hover {
    color: white ;
    border-bottom: 1px solid $primaryColor;
}
.nav-link{
    margin-left:10px
}
.topNavBar{
        padding: 20px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        list-style: none;
}
.topNavBar li{
    margin-left: 20px;
}
.topNavBar a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.mainTitle{
    font-weight: 600;
}