// Primary Color
$primaryColor: #007bff;

// Secondary Colors
$deep-space: #212121;
$electric-green: #34c759;
$warm-orange: #ff9900;

// Accent Colors
$bright-coral: #ffc67d;
$soft-mint: #b2fffc;

// Background Colors
$backgroundColor: #f7f7f7;
$dark-gray: #333333;
$fontFamily:inter;

body{
    background-color: $backgroundColor  !important;
    font-family: $fontFamily;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: white !important;
}

.contact-button {
    background-color: $primaryColor;
    border-radius: 7px;
    color: white;
    border: 1px solid $primaryColor;
}
.contact-button:hover{
    background-color: white;
    
    border: 1px solid $primaryColor;
}
.nav-link:hover {
    color: black ;
    border-bottom: 1px solid $primaryColor;
}
.nav-link{
    margin-left:10px
}
.topNavBar{
        padding: 20px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        list-style: none;
}
.topNavBar li{
    margin-left: 20px;
}
.topNavBar a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.mainTitle{
    font-weight: 700;
    font-size: 35px;
    font-weight: bold;
    background: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to right,
      $primaryColor 0%,
      $electric-green 50%,
      $warm-orange 100%
    );
}
.main-section{
    margin-top: 2rem;
}

.typing-text {
    border-right: 0.15em solid black; /* cursor */
    white-space: nowrap; /* keep text on one line */
    overflow: hidden; /* hide excess text */
    animation: typing 4s steps(40) infinite;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
  .typing-text::after {
    content: "|"; /* cursor */
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }